src/main/mule/cicd-github-training.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41bba50d-bf71-4656-a054-3731a323523c" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-github-actions-connected-appFlow" doc:id="a182dabb-c6a9-4d8c-a68a-5f4f91840580" >
		<http:listener doc:name="Listener" doc:id="b54bf198-ba37-4bc7-8145-803ef72611a4" config-ref="HTTP_Listener_config" path="/hello" />
		<ee:transform doc:name="Transform Message" doc:id="dbe80c47-005b-4203-8839-36bdc6dea7bd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Success",
	"message": "Hello World2",
	"timeStamp": now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[200 as Number]" doc:name="Set Variable" doc:id="6ff42f19-7874-475c-a1ea-1278e5b0a1b5" variableName="httpStatus" />
		<logger level="INFO" doc:name="Logger" doc:id="c0b2787d-4b50-4021-b613-389f595e106a" message="#[payload]" />
	</flow>
</mule>
